<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Collart"
        tools:targetApi="31">
        <activity
            android:name=".Chat.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".PersonalPage.Portfolio.PortfolioActivity"
            android:exported="false" />
        <activity
            android:name=".MainPage.FiltersActivity"
            android:exported="false" />
        <activity
            android:name=".PersonalPage.Portfolio.CreatePortfolioActivity"
            android:exported="false" />
        <activity
            android:name=".PersonalPage.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".PersonalPage.CreateOrder.CreateOrderActivity"
            android:exported="false" />
        <activity
            android:name=".MainPage.Home.Projects.ProjectActivity"
            android:exported="false" />
        <activity
            android:name=".MainPage.Home.Specialists.UserPage.UserPageActivity"
            android:exported="false" />
        <activity
            android:name=".MainPage.MainPageActivity"
            android:exported="false" />
        <activity
            android:name=".Auth.RegisterActivity"
            android:exported="false"
            android:parentActivityName=".OnBoarding.MainActivity"
            android:theme="@style/Theme.CollartActionBar" />
        <activity
            android:name=".Auth.LoginActivity"
            android:exported="false"
            android:parentActivityName=".OnBoarding.MainActivity"
            android:theme="@style/Theme.CollartActionBar" />
        <activity
            android:name=".OnBoarding.OnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".OnBoarding.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>